*~
*.DS_Store
*.log
*.pdf
*.o
*.d
*.swp
bin/*
*/_cuobjdump*
*/gpgpu*
*/config_fermi_islip.icnt
*/memlat-stat.txt
*/stat.txt
bfs/bfs_wlw
bfs/bfs_wlc
apps/sssp/sssp
apps/sssp/sssp_nontex
vecAdd/vecAdd
color/color.txt
run-script.sh
test/out/*.out
src/common.mk
apps/bfs/bfs
apps/bfs/bfs_nontex
apps/bh/bh
apps/dmr/dmr
apps/dmr/*.out.ele
apps/dmr/*.out.node
apps/dmr/*.out.poly
apps/mst/mst
apps/mst/mst_nontex
apps/pta/pta
apps/sgd/blk_diag
cub
inputs/
mgpu
rt/src/*.o
rt/lib/libggrt.a
